<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div>
        <h1>Url Shortener Api</h1>
        <p>
            <strong><span>Example usage: </span></strong><br />
            <code>https://brick-board.glitch.me/new/http://www.google.com</code><br />
            <strong><span>Example output: </span></strong><br />
            <code>{{"short_url":"https://brick-board.glitch.me/1002","original_url":"http://www.yahoo.com"}</code>
        </p>
        </div>
    </div>
   </body>

</html>
